/* text color : 3c3c3c */
/* hover color : fda720 */
body {
margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* header */
.header {
  margin-bottom: .2rem;
  margin-top: 0rem;
  border: .1rem solid #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-bar {
  padding : .5rem .1rem;
  display: flex;
  align-items: center;
  width:85%;

}

.nav-head{
    padding-left: 2rem;
    padding-right: 2rem;
    width: 5rem;
}

.nav-list {
  width: 100%;
  margin-right: 0;
  margin-left: auto;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: end;
}

.nav-item {
  padding-right: 3rem;
}

.nav-link {
  color: #3c3c3c;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #fda720;
}

.nav-link:focus{
    color: #fda720;
}

.contact-btn {
  color: #fff;
  height: 2.6rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  background: #fda720;
  outline: none;
  border: none;
  min-width: 9rem;
  border-radius: 0.3rem;
}

.contact-btn:hover {
    background-color: #e7991a;
}

.contact-btn:active{
    background-color: #d6880a;
    
}
/* end of header */

.about-me{
    display: flex;
    flex-direction: column;
    /* background-color: #e7f7fb; */
    padding-bottom: 5rem;
}

/* about me */
.about-me-wrapper{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.about-me-first{
    display: flex;
    flex:1 1 70%;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

}

.about-me-heading {
    font-size: 2.5rem;
    margin-bottom:1rem;
    margin-top:0;
}
.about-me-name{
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fda720;
}

.about-me-btn{
    font-size: 1.1rem;
    width: 10rem;
    font-family: "Montserrat", sans-serif;
    background-image :  linear-gradient(90deg, #fb9531 0%, #fdbd08 100%) ;
    color: #fff;
    padding : .5rem 1rem;
    border: none;
    border-radius: .5rem;
    box-shadow: 0px 1px 2px #fdbd08;
    transition: all .2s;
}

.about-me-btn:active{
    transform: scale(0.95);
}

.about-me-paragraph{
    padding-right: 3rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.about-me-second{
    flex: 1 50%;
} 

.image-container{
    align-items: right;
    display: flex;
    justify-content: right;
    margin-right: 3rem;
}

.profile-image{
    width: 15rem;
    vertical-align: middle;
    border-radius: 50%;
}
/* end of about me */

/* skills */
.skill{
    display: block;
    padding-bottom: 3rem;
    margin: 0 auto;
}
.skill-heading, .project-heading{
    padding-top: 3rem;
    margin-top: 0;
    font-size:1.6rem;
    text-align: center;
    text-transform: uppercase;
    color: #162d54;
}

.skill-body{
    display: flex;

    justify-content: space-evenly;
    
}

.hard-skill{
    flex: 0 0 26%;
    /* background-color: royalblue; */
}



.sub-heading{
    text-align: center;
}

.hard-skill-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.hard-skill-item{
    display: inline-block;
    background-color: #0b5d74;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: .4rem .5rem;
    margin: .2rem;
    border-radius: .5rem;
    transition: all .1s;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}

.hard-skill-item:hover{
    transform: translate(0px,-2px);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}

.lang-skill-list{
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-direction: column;
    justify-content: right;
    align-content: right;
    align-items: right;
}

.lang-skill-item{
    text-align: right;
    padding-bottom: .4rem;
}

.lang-skill-item .bar{
    position: relative;
    margin-left: .6rem;
    display: inline-block;
    width: 8rem;
    height: .7rem;
    border-radius: 3rem;
    background-color: #0b5d74;
}

.bar1::after{
    content: "";
    position: absolute;
    width: 7rem;
    height: .7rem;
    border-radius: 3rem;
    background-color: #d6880a;
    left: 0;
    z-index: 10;
}

.bar2::after{
    content: "";
    position: absolute;
    width: 6rem;
    height: .7rem;
    border-radius: 3rem;
    background-color: #d6880a;
    left: 0;
    z-index: 10;
}

.bar3::after{
    content: "";
    position: absolute;
    width: 7rem;
    height: .7rem;
    border-radius: 3rem;
    background-color: #d6880a;
    left: 0;
    z-index: 10;
}

.soft-skill-list{
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-bottom: .4rem;
    justify-content: left;
}

.soft-skill-item{
    padding-top:.6rem;
    padding-right: 1rem;
    padding-left: .6rem;
    padding-bottom: 0;
    vertical-align: middle;
    display: inline-block;
    width: fit-content;
    background-color: #0b5d74;
    height: 2rem;
    margin-bottom:.4rem;
    color: #fff;
    border-radius: 2rem;
    transition: all .1s;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}

.soft-skill-item:hover{
    transform: translate(0px,-2px);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}

.soft-skill-item i{
    font-size: 1.5rem;
    vertical-align: middle;
    color: #0df352;
    margin-right: .4rem;
}

/* end of skills */
/* #162d54 */
.project-heading{
    background-image: linear-gradient( #cbd4ae, #f6fbe7);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}



.project-header{
    font-family: 'Source Code Pro', monospace;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 1rem;
    position: relative;
}

.big-underline{
    content: "";
    margin: auto;
    width:10rem;
    height: .1rem;
    background-color: black;

}

.small-underline{
    content: "";
    margin: auto;
    width: 5rem;
    height: .1rem;
    background-color: black;
    margin-bottom: .5rem;
}
.project{
    background-color: #f6fbe7;

}

.project-card{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.project-image-container{
    display: flex;
    justify-content: center;
    flex: 0 0 50%;
}

.project-image{
    width: 18rem;

}

.card1{
    background-color: #f6fbe7;
    /* background-color: #fff; */

    
}
.card2{
    background-color: #c7def0;
    /* background-color: #fff; */
}
.card3{
    background-color: #c3edc2;
}
.card4{
    background-color: #e6e1e5;
    /* background-color: #fff; */
}
.card5{
    background-color: #b2d9d0;
}

.project-detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 2rem;
}

.project-detail-head{
    display: flex;
}

.project-detail-header{
    padding-top: 0;
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 600;

}

.bookmark{
    margin-left: 1rem;
    width: fit-content;
    height: 2rem;
    background-color:  rgb(78, 112, 77);
    /* border-radius: 1rem; */
    text-align: center;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    font-weight: 600;
}

.personal{
    background-color: rgb(112, 77, 104);
}



.project-detail-intro{
    width: 90%;
} 

.project-detail-sub-header{
    font-weight: 400;
    font-size: 1.4rem;
}

.tech-stack-list{
    display: flex;
    list-style: none;
    justify-content: left;
    align-content: left;
    padding-left: 0;
}
.tech-stack-item{
    display: inline-block;
    background-color: #0b5d74;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: .4rem .5rem;
    margin: .2rem;
    border-radius: .5rem;
    transition: all .1s;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}

.tech-stack-item:hover{
    transform: translate(0px,-2px);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}
.badges-container{
    flex-grow: 1;
    align-items: flex-end;
    display: flex;
    padding-bottom: 2rem;
}
.badges-container a{
    margin-right: 1rem;
}
.badges{
    height: 3rem;
}
/*  */